---
title: The Institute for Ethical AI & Machine Learning
description: The Institute for Ethical AI & Machine Learning is a Europe-based research centre that brings togethers technologists, academics and policy-makers to develop industry frameworks that support the responsible development, design and operation of machine learning systems.
---
<html>
	<head>
		{% include header.html %}


        

	</head>
	<body>
		<div id="page-wrapper">

			{% include navbar.html %}

            {% include apply-form.html %}

			{% include footer.html %}

	</body>
</html>
