---
title: The Institute for Ethical AI Alignment & Safety
description: The Institute for Ethical AI Alignment & Safety is a research centre developing practical, open-source frameworks that help technologists, industry and policymakers build, evaluate and govern AI systems that are safe, aligned and accountable.
---
<html>
	<head>
		{% include header.html %}


        

	</head>
	<body>
		<div id="page-wrapper">

			{% include navbar.html %}

            {% include apply-form.html %}

			{% include footer.html %}

	</body>
</html>
