---
title: The Institute for Ethical AI & Machine Learning
description: The Institute for Ethical AI & Machine Learning is a Europe-based research centre that brings togethers technologists, academics and policy-makers to develop industry frameworks that support the responsible development, design and operation of machine learning systems.
---
<html>
	<head>
		{% include header.html %}


        

	</head>
	<body>
		<div id="page-wrapper">

			{% include navbar.html %}

				<section id="banner" style="font-size: 11pt">
					<div class="content" style="text-align: center">
                        <h2 style="font-size: 4em; color: #01C3A7; font-weight: bold; text-align: center; line-height: 1.3em; margin-bottom: 20px">Ethically Aligned Software Licenses</h2>
						<img class="logo-image" src="images/logos/eml-logo-white.png" alt="" style="max-width: 440px; width: 80%; margin-top: 30px" />
						<header>
                            <h2 style="font-weight: bold; margin-top:0px">Responsible Software Development by Design</h2>
                            <p style="font-weight: bold; max-width: 850px">
                            The <a href="https://github.com/EthicalML/licenses">Ethically Aligned Software Licenses</a> allows any technologist to introduce an ethical framework as a requirement for the use of their open source code, ensuring responsible development globally, one line of code at a time.
                                <br>
                                <br>
                                The Ethically Aligned Software Licenses take the most popular open source licenses such as the Apache and MIT licenses and extend them to include the commitment towards an ethical framework - by default this is the <a href="https://ethics.acm.org">ACM Code of Ethics and Professional Conduct</a>.
                            </p>
						</header>
                    <br>
					</div>

					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

                <section id="one" class="spotlight style1 bottom">
                    <span class="image fit main"><img src="images/dots-vision.jpg" alt="" /></span>
					<div class="content">
                        <header class="major">
                            <h2>
                                Ethically Aligned Software Licenses
                            </h2>
                            <h3>
                                Ensure your open source code is used reponsibly by requiring a commitment into proven professional and ethical standards.
                                <br>
                                <br>
                                Join the movement and help raise the bar for the use of technology in critical applications by design.
                            </h3>
                        </header>
					</div>
				</section>


                <section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<div class="row 150%">
							<div class="4u 12u$(medium)" id="overview">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<a href="#" class="image fit"><img src="images/xai-computer.png" alt="" /></a>
											<h3>Free as in freedom</h3>
                                            <p>The Ethically Aligned Licenses are open source and <a href="https://github.com/EthicalML/licenses">available at GitHub</a>.</p>
											<h3>Maintained with ♥ by our members</h3>
                                            <p>This project was developed and is maintained by the <a href="/index.html#network">Ethical AI Network</a> which is a global community of technologists and domain experts</p>.
										</section>
								</section>

							</div>
							<div class="8u$ 12u$(medium) important(medium)">

								<!-- Content -->
									<section id="content">
										<h3>Responsible Development by Design</h3>
										<p>We believe that every technologist has the ability to make a massive difference one line of code at a time. Ensuring ethical design is as easy as including the <a href="https://github.com/EthicalML/licenses">ethically aligned software license</a> in your code which includes the normal copyright, plus a requirement of users to commit on a specific ethical and/or professional framework. We currently support the <a href="https://github.com/EthicalML/ethically-aligned-licenses/blob/master/LICENSE_EA_MIT">APACHE</a> and <a href="https://github.com/EthicalML/ethically-aligned-licenses/blob/master/LICENSE_EA_MIT">MIT</a> Licenses, and we are working to expand our work to include the Mozilla, GNU, LGPL and more.</p>
                                        <img src="images/git-shot.jpg" style="width: 100%">

                                        <br><br>
										<h3>Supercharging your code through Ethical & Professional Frameworks</a></h3>
                                        <p style="width: 80%; margin: auto">
                                        Acquiring a code of ethics and/or professional framework will not ensure that anything bad will happen, of course that would be impossible. However, it would ensure that there is a prior commitment from the user of the software to agree and attempt to abide by the framework to a reasonable extent. The <a href="https://ethics.acm.org">ACM Code of Ethics and Professional Conduct</a> was chosen as the default framework as this framework has been agreed upon thousands of ACM members that have joined their community since its debut in 1992, and it has been updated in 2018, providing a strong framework for professionals in the field of computing-related technology and services.
                                        </p>
                                        <br>

                                        <a href="#"><img src="images/acm.jpg" style="max-width:100%;"></a>

                                        <hr/>
                                    </section>
								</div>
                            </section>

							</div>
						</div>
					</div>
                </section>

               
 
            {% include apply-form.html %}

			{% include footer.html %}


	</body>
</html>
