---
title: The Institute for Ethical AI & Machine Learning
description: The Institute for Ethical AI & Machine Learning is a Europe-based research centre that brings togethers technologists, academics and policy-makers to develop industry frameworks that support the responsible development, design and operation of machine learning systems.
image-banner: https://ethical.institute/images/mle.jpg
---
<html>
	<head>
		{% include header.html %}

	</head>
	<body>
		<div id="page-wrapper">

			{% include navbar.html %}

				<section id="banner" style="font-size: 11pt">
					<div class="content" style="text-align: center">
						<img class="logo-image" src="images/logos/eml-logo-white.png" alt="" style="max-width: 440px; width: 80%; margin-top: 40px" />
						<header style="font-weight: bold">
							<h2>The Machine Learning Engineer Newsletter</h2>
                            <p  style="max-width: 850px">
                                Join over 70,000 ML professionals and enthusiasts who receive weekly curated articles & tutorials on production Machine Learning. Obtain insights on real-world ML best practice encompassing key areas in Model Monitoring, MLOps, DataOps, AIOps + beyond 🚀 
                            </p>
                            <br>
                            {% include subscribe-form.html %}
                            <hr/>
                            <br>
                            <p>
                                You can sign up to the newsletter through the form above, or directly via <a href="https://www.linkedin.com/newsletters/the-machine-learning-engineer-6882216044568571904/" target="_blank">via LinkedIn</a>. You can also check out previous editions:
                            </p>

                            </h2>
                            <br>

                            <div class="issues-container">
                                {% for i in (1..374) reversed %}
                                <a target="_blank" href="/mle/{{i}}.html" class="issue-container">
                                    Issue #{{i}}
                                </a>
                                {% endfor %}
                            </div>

						</header>
                    <br>
					</div>

					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			{% include footer.html %}

	</body>
</html>
