---
title: The Institute for Ethical AI & Machine Learning
description: The Institute for Ethical AI & Machine Learning is a Europe-based research centre that brings togethers technologists, academics and policy-makers to develop industry frameworks that support the responsible development, design and operation of machine learning systems.
---
<html>
	<head>
		{% include header.html %}


        

	</head>
	<body>
		<div id="page-wrapper">

			{% include navbar.html %}

				<section id="banner" style="font-size: 11pt">
					<div class="content" style="text-align: center">
                        <h2 style="font-size: 4em; color: #01C3A7; font-weight: bold; text-align: center; line-height: 1.3em; margin-bottom: 20px">XAI - eXplainableAI Framework</h2>
						<img class="logo-image" src="images/logos/eml-logo-white.png" alt="" style="max-width: 440px; width: 80%; margin-top: 30px" />
						<header>
                            <h2 style="font-weight: bold; margin-top:0px">An eXplainability framework for Machine Learning</h2>
                            <p style="font-weight: bold; max-width: 850px">
                            The <a href="https://github.com/EthicalML/XAI">XAI Framework</a> allows you to introduce explainability and perform bias evaluation in AI systems by going beyond algorithms using a tool+process approach.
                                <br>
                                <br>
                                The XAI Framework is fully open source, and the eXplainability Framework is currently in ALPHA stage. If you're interested to learn more, <a href="/index.html#contact">get in touch</a>.
                            </p>
						</header>
                    <br>
					</div>

					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

                <section id="one" class="spotlight style1 bottom">
                    <span class="image fit main"><img src="images/dots-vision.jpg" alt="" /></span>
					<div class="content">
                        <header class="major">
                            <h2>
                                XAI - The eXplainable AI Framework [ALPHA]
                            </h2>
                            <h3>
                                Combining cutting edge research tools with practical industry processes to ensure machine learning systems are explainable and undesired biases are mitigated.
                                <br>
                                <br>
                                The XAI Framework is <a href="https://github.com/EthicalML/XAI">open source</a>, and converts the <a href="https://ethical.institute/principles.html">Principles for Responsible Machine Learning</a> into a practical tool + process approach.
                            </h3>
                        </header>
					</div>
				</section>


                <section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<div class="row 150%">
							<div class="4u 12u$(medium)" id="overview">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<a href="#" class="image fit"><img src="images/xai-computer.png" alt="" /></a>
											<h3>Free as in freedom</h3>
                                            <p>The XAI Framework is open source and it <a href="https://github.com/EthicalML/XAI">is available at GitHub</a>.</p>
											<h3>Maintained with ♥ by our members</h3>
                                            <p>The codebase is maintained by the <a href="/index.html#network">Ethical AI Network</a> which is a global community of technologists and domain experts</p>
										</section>
								</section>

							</div>
							<div class="8u$ 12u$(medium) important(medium)">

								<!-- Content -->
									<section id="content">
										<h3>What do we mean by eXplainable AI?</h3>
										<p>We see the challenge of explainability as more than just an algorithmic challenge. The XAI Framework is designed to empowers you to introduce explainability and perform bias evaluation through three steps: 1) data analysis, 2) model evaluation, and 3) production monitoring. This is visualised in the diagram below.</p>
                                        <img src="images/bias.png" style="width: 100%">

                                        <br><br>
										<h3>Check out our hands on case study where we introduce explainability and remove undesired biases in a credit risk / loan approval process using deep learning. <a href="https://www.youtube.com/watch?v=vq8mDiDODhc">Watch the technical video below.</a></h3>
                                        <p style="width: 80%; margin: auto"><a href="https://www.youtube.com/watch?v=vq8mDiDODhc" rel="nofollow"><img src="images/video.jpg" style="max-width:100%;"></a></p>

                                        <hr/>
                                    </section>
								</div>
                            </section>

							</div>
						</div>
					</div>
                </section>

               
 
            {% include apply-form.html %}

			{% include footer.html %}


	</body>
</html>
